* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: serif;
    font-size: 50px;
    text-align: center;
    line-height: 1.1;
    color: #222;
}

.sara {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 0 8px;
}

.sara::before {
    content: "";
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translate(-50%, -45%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2f9ab0;
    z-index: -1;
    opacity: 0.8;
}

header {
    background: white;
    color: #fff;
    padding: 4rem 2rem 3rem;
    text-align: center;
    position: relative;
    overflow: hidden;

}
h2{
    font-size: 2rem;
    margin-left: 20rem;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f9ab0;
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
  color: #007bff;
}

.singlbook-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
}

.singlbook-card img {
  width: 250px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.singlbook-card-content {
  flex: 1;
}

.singlbook-card-content h3 {
  margin-top: 0;
  color: #222;
  font-size: 1.6em;
}

.singlbook-card-content h4 {
  color: #666;
  font-weight: normal;
  margin-bottom: 12px;
}

.singlbook-card-content p {
  color: #444;
  line-height: 1.5;
}
footer {
    background-color: #2f9ab0;
    color: #ecf0f1;
    text-align: center;
    padding: 2.5rem;
    border-top: 4px solid #748ad4;
  
    
}

footer p {
    margin: 0.5rem 0;
    font-weight: 300;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    header p {
        font-size: 2rem;
        border-style: double;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: oblique;
        color: #2c2c2c;
    }
    
}